.pepito:hover{
    /*     
        1.- tiene que agrandar la imagen
        2.- tiene que subir la imagen
        3.-colocar en transaparente el background
    */
}

.btn-acceso{
    background-color: #eb6f00 !important;
}

.btn-cliente{
    background-color: white !important;
    border: 2px solid #003698 !important;
    color: #003698 !important;
}

.btn-cliente:hover{
    background-color: #0035985c !important;
}